.container {
  background-image: url("../assets/testtwo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border: solid 3px green;
  width: 900px;
  height: 500px;
  /* z-index: 1; */
}

.about_me_container {
  color: white;
}
