.footer {
  position:relative;
  bottom: 0;
  text-decoration: none;
  z-index: 1;
}

.footer a {
  color: RGB(4, 255, 247);
}

.footer_items {
  background-color: #1d212e;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
}

.footer_link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Press Start 2P", cursive;
  font-size: medium;
  padding: 10px;
  gap: 20px;
}

.barcode_font {
  font-family: "Libre Barcode 39";
  font-size: larger;
  padding-top: 5px;
  text-decoration: none;
}

.copyright_link {
  margin: 10px 0;
  align-self: center;
  color: RGB(4, 255, 247);
}


.copy_para {
  margin: 0;
  font-size: small;
  color: RGB(4, 255, 247);
}

.contact_link {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Press Start 2P", cursive;
}



@media screen  and (max-width: 1020px){
  .footer_link {
  font-size: x-small;
}
.copy_para {
  margin: 0;
  font-size: xx-small;
}

}