@media screen and (max-width: 900px) {
  .sidebar_nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    height: 10vh;
    width: auto;
    z-index: 2;
  }

  .clicked {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .title {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 375px;
    height: 235px;
  }

  .icon {
    width: 1.5em;
    height: 1.5em;
    color: #39ff14;
  }

  .caption {
    font-size: medium;
  }

  .moto {
    font-size: x-small;
  }

  .footer-link {
    font-size: x-small;
  }

  .title {
    margin-left: auto;
    margin-right: auto;
    padding: 15px 15px;
    width: 200px;
  }

  button {
    color: #39ff14;
    cursor: pointer;
    padding: 5px;
    width: 48px;
    height: 48px;
    background-color: black;
    border: solid 3px;
    border-color: black;
    border-radius: 9999px;
  }
}

@media screen and (min-width: 900px) {
  .sidebar_nav {
    visibility: hidden;
    position: absolute;
  }

  .nav_container {
    visibility: visible;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    background-color: #1d212e;
  }

  .copyright {
    font-size: medium;
  }
}
