.container {
	background-color: black;
	border-radius: 15px;
	height: fit-content;
	border: solid 3px green;
	width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.heading {
	color: RGB(4, 255, 247);
	text-align: center;
	font-family: "Permanent Marker", cursive;
	font-style: italic;
}

p {
    color: white;
    text-align: center;
}

