.container {
	position: relative;
	display: grid;
	place-content: center;
	margin:  auto;
	/* height: 100%; */
	z-index: 1;
	padding: 0;
}


.main {
	
	background: rgba(0, 0, 0, 0.4);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(8.1px);
	-webkit-backdrop-filter: blur(8.1px);
	border: 1px solid rgba(0, 0, 0, 0.15);
	padding: clamp(0.55rem, 3%, 1.5rem);
	border-radius: 15px;
	height: 100%;
}

.header {
	padding: 0;
	margin-bottom: 25px;
	margin-top: 5px;
	color: RGB(4, 255, 247);
	text-align: center;
	font-family: "Permanent Marker", cursive;
	font-style: italic;
	font-size: 3rem;
}

.row {
	display: grid;
	grid-template-columns: repeat(3, minmax(220px, 1fr));
	grid-template-rows: repeat(3, auto);
	grid-gap: 10px;
}

.project_name {
	color: black;
	text-align: center;
	font-size: 1.2rem;
	word-spacing: -1px;
	letter-spacing: -0.5px;
}

.image {
	border-radius: 15px;
}

.inquilabe {
	margin-top: 5px;
	border-radius: 15px;
}

.para {
	text-align: left;
	line-height: 1.2;
	font-weight: 500;
	color: black;
	font-size: 1rem;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	word-wrap: break-word;
	padding: clamp(0.55rem, 3%, 1.5rem);
}

.column {
	padding: 5px;
	border: 1px solid #999;
	border-radius: 15px;
	background: #fff;
}

.content {
	background-color: white;
	padding: 5px;
}

@media screen and (max-width: 900px) {
	.row {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 8px;
	}

	.amazingspace {
		grid-column: 1;
		grid-row-start: 5;
	}

	.project_name {
		font-size: 0.9rem;
	}

	.github {
		grid-column: 2;
		grid-row-start: 5;
	}

	.inquilabe {
		margin-top: 1rem;
	}

	.para {
		font-size: 0.8rem;
	}

	.header {
		font-size: 2rem;
	}
}

@media screen and (max-width: 600px) {
	.row {
		grid-template-columns: 1fr;
	}

	.amazingspace {
		grid-column: 1;
		grid-row-start: 5;
	}

	.github {
		grid-column: 1;
		grid-row-start: 6;
	}

	.para {
		font-size: 0.7rem;
	}

	.project_name {
		font-size: 1rem;
	}
}