.container {
  height: 80%;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  border: solid 2px green;
}

.flex_container {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.image {
  margin-left: auto;
  margin-right: auto;
}

.title {
  text-align: center;
}

.project_info {
  text-align: left;
  padding: 25px;
}

.pagination {
    display: flex;
    justify-content: center;
}

.pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #ddd;
}

.project_nav {
  align-self: self-end;
  padding: 10px;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
