.carousel {
	height: 400px;
	width: 90%;
    object-fit: contain;
	margin: auto;
}

.swiper_slide {
	display: flex;
	justify-content: center;
	align-items: center;	
}


@media screen and (max-width: 600px) {
	.carousel {
		height: 300px;
	}
}
