html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;

}

.flex-start {
    width: 50%;
    margin: 15px
}

.flex-end {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: end;
    width: 50%;
    gap: 15px;
    margin:15px
}

.nav {
    background-color: rgb(104, 98, 98);
}

.button-home {
    align-self: center;
    height: 20px;
}

.button-about {
    align-self: center;
    height: 20px;
}