html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%vw;
}

.nav-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
}

.flex-start {
  width: 50%;
  margin: 15px;
}

.flex-end {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  width: 50%;
  gap: 15px;
  margin: 15px;
}

.sidebar-nav {
  display: flex;
  align-items: center;
  background-color: rgb(104, 98, 98);
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  width: 5%;
}

.button-home {
  align-self: center;
  height: 20px;
}

.button-about {
  align-self: center;
  height: 20px;
}

.footer-content {
  margin-left: auto;
  margin-right: auto;
}

.footer-items {
  display: flex;
  flex-direction: column;
}

.footer-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: aqua;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.main {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: chocolate;
  height: 100%vh;
}

.unclicked {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.clicked {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
