@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&family=Libre+Barcode+39&family=Monofett&family=Monoton&family=Permanent+Marker&family=Press+Start+2P&family=Rubik+Vinyl&family=Tourney:ital,wght@0,400;1,100;1,400;1,700&display=swap");

:root {
  --clr-neon: hsl(317 100% 54%);
  --clr-bg: hsl(323 21% 16%);
  --clr-neon-blue: hsl(232, 94%, 50%);
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027);
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
  overflow-x: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: auto;
}



.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
}


.project-container {
  display: flex;
  flex-direction: column;
}


.grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5 (auto));
  grid-template-rows: repeat(12 (auto));
  height: 100%;
}