@media screen and (max-width: 900px) {
  .sidebar-nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    /* align-content: center; */
    height: 10vh;
 
  }

  .clicked {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
  }

  .title {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 375px;
    height: 235px;
  }

  .icon {
    width: 1.5em;
    height: 1.5em
  }

  .caption {
    font-size: medium;
  }

  .moto {
    font-size: x-small;
  }

  .footer-link {
    font-size: x-small;
  }

  .title {
    margin-left: auto;
    margin-right: auto;
    padding: 15px 15px;
    width: 200px;
  }

  button {
    color: #39ff14;
    cursor: pointer;
    padding: 5px;
    width: 48px;
    height: 48px;
    background-color: black;
    border: solid 3px;
    border-color: black;
    border-radius: 9999px;
  }

  .neon-button {
    font-family: monospace;
    position: relative;
    display: inline-block;
    align-self: center;
    cursor: pointer;
    color: var(--clr-neon);
    text-align: center;
    font-size: 0.7rem;
    text-decoration: none;
    width: 55px;
    border: var(--clr-neon) 0.125em solid;
    border-radius: 0.25em;
    padding: 0.25em 1em;
    text-shadow: 0 0 0.125em var(--clr-neon), 0 0 0.45em var(--clr-neon);
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  }

  .nav-container {
    visibility: hidden;
    position: absolute;
  }
/* 
  .flex-end {
    visibility: hidden;
  } */
}

@media screen and (min-width: 901px) {
  .sidebar-nav {
    visibility: hidden;
    position: absolute;
  }

  .nav-container {
    visibility: visible;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    background-color: #1d212e;
  }

  .copyright {
    font-size: medium;
  }
}
