@media screen and (max-width: 600px) {
  .sidebar-nav {
    display: inline;
    flex-direction: row;
    /* position: absolute;
    visibility: visible;
    display: flex;
    top: 0px;
    left: 2px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 5%; */
  }

  /* .nav-name {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%vw;
  }

  .nav-container {
    width: 100%;
  }

  .flex-start {
    display: inline;
    font-size: small;
  } */

  /* .container {
    display: grid;
    grid-template-columns: 4 1fr;
    grid-template-rows: 12 1fr;
    justify-content: center;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
  } */

  .title {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 375px;
    height: 235px;
  }

  .icon {
    width: 25px;
  }

  .caption {
    font-size: medium;
  }

  .moto {
    font-size: x-small;
  }

  .footer-link {
    font-size: x-small;
  }

  .title {
    margin-left: auto;
    margin-right: auto;
    padding: 15px 15px;
    width: 200px;
  }

  button {
    color: white;
    background-color: black;
    border: solid 3px;
    border-color: black;
    border-radius: 5px;
  }

  .neon-button {
    font-family: monospace;
    position: relative;
    display: inline-block;
    align-self: center;
    cursor: pointer;
    color: var(--clr-neon);
    text-align: center;
    font-size: 0.7rem;
    text-decoration: none;
    width: 55px;
    border: var(--clr-neon) 0.125em solid;
    border-radius: 0.25em;
    padding: 0.25em 1em;
    text-shadow: 0 0 0.125em var(--clr-neon), 0 0 0.45em var(--clr-neon);
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  }

  .nav-container {
    visibility: hidden;
    position: absolute;
  }

  .flex-end {
    visibility: hidden;
  }
}

@media screen and (min-width: 601px) {
  .sidebar-nav {
    visibility: hidden;
    position: absolute;
  }

  .nav-container {
    visibility: visible;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    background-color: #1d212e;
  }

  .copyright {
    font-size: medium;
  }
}
